.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 600ms;
}

.tarefas li:hover {
  background: #9adcb9;
}

.tarefas li .edit {
  margin-right: 15px;
  color: #9adcb9;
}

.tarefas li .delete {
  color: red;
}

.tarefas li:hover .delete,
.tarefas li:hover .edit {
  color: black;
}

.tarefas li .delete,
.tarefas li .edit {
  cursor: pointer;
  transition: all 600ms;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
